<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.papl_887062">

    <application
        android:name=".DecisionStack"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Message11"></activity>
        <activity android:name=".Node11" />
        <activity android:name=".Message10" />
        <activity android:name=".Node10" />
        <activity android:name=".Node09" />
        <activity android:name=".Node08" />
        <activity android:name=".Message08" />
        <activity android:name=".Message06" />
        <activity android:name=".Message03" />
        <activity android:name=".Message02" />
        <activity android:name=".Message09" />
        <activity android:name=".Node07" />
        <activity android:name=".Node06" />
        <activity android:name=".Node05" />
        <activity android:name=".Message05" />
        <activity android:name=".Message07" />
        <activity android:name=".Message04" />
        <activity android:name=".Node04" />
        <activity android:name=".Message01" />
        <activity android:name=".Node03" />
        <activity android:name=".Node02" />
        <activity android:name=".Node01" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>